extends layout

block content
  .back-image(style='position: fixed; width: 100%; height: 100%; left: 0; top: 0; background: url(https://pp.vk.me/c626822/v626822119/33d16/ETF3lufeHEs.jpg) no-repeat top center; background-size: cover;')
  section.corp
    a.arrow(href='/corp')
    a.link(href='/corp') Корпоративы
  section.wedd
    a.arrow(href='/wedding')
    a.link(href='/wedding') Свадьбы
  .logo
    h1 #{fullName}
    p Ведущий мероприятий
